:root{
    --blue: #1670B7;
    --dark-blue: #0D1B2A;
    --light-blue: #F6F8FB;
    --light-blue-highlight-text: #DFEAF4;
    --red:#C73F3F;
    --grey: #EEEEEE;
    --font-titles: 'Rubik', sans-serif;
    --font-texts: 'Karla', sans-serif;
    --font-color-texts: #444444;
    --font-size-container-titles: 3.5rem;
    --font-size-titles: 1.5rem;
    --font-size-texts: 0.9rem;
    --base-padding: 2rem;
  }

body {
  margin: 0;
  padding: 0;
}

.main-container {
 min-height: 100vh;
 overflow: hidden;
 display: block;
 position: relative;
 background-color: white;
}

#particles-js {
  width: 100%;
  height:100vh;
  background: var(--blue);
}

#particles canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container-home {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: auto;
  margin-top: 6rem;
}

.link-video {
  text-decoration: none !important;
  font-size: var(--font-size-container-titles);
  font-family: var(--font-titles);
}

.icon-red {
  color: var(--red);
  font-size: var(--font-size-container-titles);
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  z-index: 500;
}

.embedresize {
max-width: 560px;
margin: auto;
}
.embedresize div {
position: relative;
height: 0;
padding-bottom: 56.25%;
}

.embedresize iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
margin-top: 8rem;
}

.navbar-be {
  justify-content: space-between;
  width: 100%;
  padding: 0 var(--base-padding);
  position: fixed;
  height: 4.5rem;
  top: 0;
  transition: 500ms ease;
  z-index: 500;
  background-color: transparent;
}

.navbar-nav {
  background-color: var(--blue);
  transition: 500ms ease;
}

.scrolled {
  background-color: white;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-be .navbar-brand img {
  width: 5.5rem;
}

.nav-link-scrolled {
  color: var(--font-color-texts) !important;
}

a.anchor {
    display: block;
    position: relative;
    top: -4.5rem;
    visibility: hidden;
}

.text {
  font-family: var(--font-texts);
  font-size: var(--font-size-texts);
  color: var(--font-color-texts);
}

.title {
  font-family: var(--font-titles);
  font-size: var(--font-size-titles);
}

.text-white {
  color: white;
}

.container {
  padding: var(--base-padding);
}

.container-fluid {
  padding: var(--base-padding);
}

.container-title {
  font-size: var(--font-size-container-titles);
  font-family: var(--font-titles);
}

.card {
  border: none;
}

.button {
  padding: 0.5rem 1.25rem;
  border-radius: 3rem;
  display: inline-block;
}

.button:hover {
  text-decoration: none;
}

.button-transparent {
  color: var(--font-color-texts);
  border: 1px solid var(--font-color-texts);
  opacity: 0.6;
  background: transparent;
}

.button-transparent:hover {
  opacity: 1;
  color: black;
}

.button-blue {
  background-color: var(--blue);
  color: white;
  border: 1px solid var(--blue);
}

.button-blue:hover {
  color:white;
  font-weight: bold;
}

.btn-link {
  text-decoration: none !important;
  color: var(--grey-text);
  padding:0;
}

.btn-link:hover {
  text-decoration: none !important;
  color: black;
}

.card-header {
  border-bottom: 1px solid light-grey;
  background-color: white;
  padding: 0.25rem;
}

.light-blue-background {
  background-color: var(--light-blue);
}

.light-blue-highlight {
  background-color: var(--light-blue-highlight-text);
  padding: 1rem;
  border-radius: 0.3rem;
}

.blue-background {
  background-color: var(--blue);
}

.footer {
  height: 8rem;
  padding: 0 var(--base-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links a {
  text-decoration: none;
  padding: 0 0.5rem;
}
.footer-links a:hover {
  font-weight: bold;
}

.footer-icons {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.footer-icons a {
  color: black;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-icons a:hover {
  opacity: 1;
}


.illustration {
  width: 100%;
  height: auto;
}

form > div > input[type="text"], form > div > input[type="email"] {
  width: 100%;
  border: 0;
  padding: 20px 20px 20px 50px;
  background: #eee;
}

form > div > input[type="text"]:valid, form > div > input[type="email"]:valid {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: left;
}


.card-prices{
  font-family: var(--font-texts);
  position: relative;
  max-width: 300px;
  height: auto;
  /*COULEUR PAR DEFAUT DES CARDS*/
  background: linear-gradient(-45deg,#3BBCF9,#396AEF);
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
.card-prices:hover{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.col-md-4:nth-child(1) .card-prices ,
.col-md-4:nth-child(1) .card-prices .title .fa{
/*COULEUR CARD 1 IDEM A CELLE PAR DEFAUT*/
  background: linear-gradient(-45deg,#3BBCF9,#396AEF);

}
.col-md-4:nth-child(2) .card-prices,
.col-md-4:nth-child(2) .card-prices .title .fa{
/*COULEUR CARD 2*/
  background: linear-gradient(-45deg,#F35353,#F14EB4);

}
.col-md-4:nth-child(3) .card-prices,
.col-md-4:nth-child(3) .card-prices .title .fa{
/*COULEUR CARD 3*/
  background: linear-gradient(-45deg,#5AE1A0,#41B3B8);

}
.card-prices::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, .1);
z-index: 1;
-webkit-transform: skewY(-5deg) scale(1.5);
        transform: skewY(-5deg) scale(1.5);
}
.title .fa{
  color:#fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius:  50%;
  text-align: center;
  line-height: 100px;
  -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 10px rgba(0,0,0,.1) ;

}
.title h2 {
  position: relative;
  margin: 20px  0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
 z-index: 2;
}
.price,.option{
  position: relative;
  z-index: 2;
}
.price h4 {
margin: 0;
padding: 20px 0 ;
color: #fff;
font-size: 60px;
}
.option ul {
  margin: 0;
  padding: 0;

}
.option ul li {
margin: 0 0 10px;
padding: 0;
list-style: none;
color: #fff;
font-size: 16px;
}
.card-prices a {
  position: relative;
  z-index: 2;
  background: #fff;
  color : black;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  margin: 20px auto 0 ;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}
.card-prices a:hover{
    text-decoration: none;
}

.timeline {
  list-style: none;
  padding: 10px 0 10px;
  position: relative;
}

.timeline-blue:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: var(--blue);
  left: 50%;
  margin-left: -1.5px;
}

.timeline-grey:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: var(--grey) !important;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 5px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border-radius: 3px;
  padding: 20px;
  position: relative;
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -15px;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline-badge.timeline-badge-big {
  width: 50px !important;
  height: 50px !important;
  margin-left: -25px !important;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline-badge {
  background-color: var(--blue) !important;
}

.timeline-badge-blue {
  background-color: var(--blue) !important;
}

.timeline-badge-grey {
  background-color: var(--grey) !important;
}

.timeline-title {
  font-weight: bold;
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}



