:root{
    --blue: #1670B7;
    --dark-blue: #0D1B2A;
    --light-blue: #F6F8FB;
    --light-blue-highlight-text: #DFEAF4;
    --font-titles: 'Rubik', sans-serif;
    --font-texts: 'Karla', sans-serif;
    --font-color-texts: #444444;
    --font-size-container-titles: 4rem;
    --font-size-titles: 1.5rem;
    --font-size-texts: 0.9rem;
    --base-padding: 2rem;
  }

body {
  margin: 0;
  padding: 0;
}

.main-container {
 min-height: 100vh;
 overflow: hidden;
 display: block;
 position: relative;
 background-color: white;
}

#particles-js {
  width: 100%;
  height:100vh;
  background: var(--blue);
}

#particles canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container-home {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: auto;
  margin-top: 6rem;
}

.link-video {
  text-decoration: none !important;
  font-size: 3.75rem !important;
}

.icon-red {
  color: #C73F3F;
  font-size: 3.5rem;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.embedresize {
max-width: 560px;
margin: auto;
}
.embedresize div {
position: relative;
height: 0;
padding-bottom: 56.25%;
}

.embedresize iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
margin-top: 8rem;
}

.navbar-be {
  justify-content: space-between;
  width: 100%;
  padding: 0 var(--base-padding);
  position: fixed;
  height: 4.5rem;
  top: 0;
  transition: 500ms ease;
  z-index: 500;
  background-color: transparent;
}

.navbar-collapse {
  background-color: var(--blue);
  transition: 500ms ease;
  z-index: -3;
}

.scrolled {
  background-color: white !important;
}

.navbar-be .navbar-collapse {
  flex-grow: 0;
}

.navbar-be .navbar-brand img {
  width: 5.5rem;
}

.nav-link {
  font-family: var(--font-texts) !important;
  font-size: var(--font-size-texts) !important;
  color: white !important;
}

.nav-link-scrolled {
  color: var(--font-color-texts) !important;
}

.text {
  font-family: var(--font-texts);
  font-size: var(--font-size-texts);
  color: var(--font-color-texts);
}

.title {
  font-family: var(--font-titles);
  font-size: var(--font-size-titles);
}

.text-white {
  color: white !important;
}
.container {
  padding: var(--base-padding);
}

.container-fluid {
  padding: var(--base-padding);
}
.container-title {
  font-size: var(--font-size-container-titles);
}


.card {
  border: none;
}

.button {
  padding: 0.5rem 1.25rem;
  border-radius: 3rem;
  display: inline-block;
}

.button:hover {
  text-decoration: none;
  }

.button-transparent {
  color: var(--font-color-texts);
  border: 1px solid var(--font-color-texts);
  opacity: 0.6;
  background: transparent;
}

.button-transparent:hover {
  opacity: 1;
  color: black;
}

.button-blue {
  background-color: var(--blue);
  color: white;
  border: 1px solid var(--blue);
}

.button-blue:hover {
  color:white;
  font-weight: bold;
}

.btn-link {
  text-decoration: none !important;
  color: var(--grey-text);
  padding:0;
}

.btn-link:hover {
  text-decoration: none !important;
  color: black;
}

.card-header {
  border-bottom: 1px solid light-grey;
  background-color: white;
  padding: 0.25rem;
}

.light-blue-background {
  background-color: var(--light-blue);
}

.light-blue-highlight {
  background-color: var(--light-blue-highlight-text);
  padding: 1rem;
  border-radius: 0.3rem;
}

.blue-background {
  background-color: var(--blue);
}

.footer {
  height: 8rem;
  padding: 0 var(--base-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links a {
  text-decoration: none;
  padding: 0 0.5rem;
}
.footer-links a:hover {
  font-weight: bold;
}

.footer-icons {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.footer-icons a {
  color: black;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-icons a:hover {
  opacity: 1;
}


.illustration {
  width: 100%;
  height: auto;
}

form > div > input[type="text"], form > div > input[type="email"] {
  width: 100%;
  border: 0;
  padding: 20px 20px 20px 50px;
  background: #eee;
}

form > div > input[type="text"]:valid, form > div > input[type="email"]:valid {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: left;
}



