:root{
    --blue: #1670B7;
    --dark-blue: #0D1B2A;
    --light-blue: #F6F8FB;
    --font-titles: 'Rubik', sans-serif;
    --font-texts: 'Karla', sans-serif;
    --font-color-texts: #444444;
    --font-size-container-titles: 4rem;
    --font-size-titles: 1.5rem;
    --font-size-texts: 0.9rem;
    --base-padding: 2rem;
  }

body {
  margin: 0;
  padding: 0;
}

.main-container {
 min-height: 100vh;
 overflow: hidden;
 display: block;
 position: relative;
 background-color: white;
}

#particles-js {
  width: 100%;
  height:100vh;
  background: var(--blue);
}
.banner-video {
  max-width: 15rem;
}

iframe {
  width: 100%;
  height: auto;
  padding: 5rem;
}

.navbar-be {
  justify-content: space-between;
  width: 100%;
  padding: 0 var(--base-padding);
  position: fixed;
  height: 4.5rem;
  top: 0;
  transition: 500ms ease;
  z-index: 500;
  background-color: transparent;
}

.scrolled {
  background-color: white !important;
}

.navbar-be .navbar-collapse {
  flex-grow: 0;
}

.navbar-be .navbar-brand img {
  width: 5.5rem;
}

.nav-link {
  font-family: var(--font-texts);
  font-size: var(--font-size-texts);
}

.text {
  font-family: var(--font-texts);
  font-size: var(--font-size-texts);
  color: var(--font-color-texts);
}


.title {
  font-family: var(--font-titles);
  font-size: var(--font-size-titles);
}
.container {
  padding: var(--base-padding);
}

.container-fluid {
  padding: var(--base-padding);
}
.container-title {
  font-size: --font-size-container-titles;
}


.card {
  border: none;
}

.button {
  padding: 0.5rem 1.25rem;
  border-radius: 3rem;
  display: inline-block;
}

.button:hover {
  text-decoration: none;
  }

.button-transparent {
  color: var(--font-color-texts);
  border: 1px solid var(--font-color-texts);
  opacity: 0.6;
  background: transparent;
}

.button-transparent:hover {
  opacity: 1;
  color: black;
}

.button-blue {
  background-color: var(--blue);
  color: white;
  border: 1px solid var(--blue);
}

.button-blue:hover {
  color:white;
  font-weight: bold;
}

.btn-link {
  text-decoration: none !important;
  color: var(--grey-text);
  padding:0;
}

.btn-link:hover {
  text-decoration: none !important;
  color: black;
}

.card-header {
  border-bottom: 1px solid light-grey;
  background-color: white;
  padding: 0.25rem;
}

.light-blue-background {
  background-color: var(--light-blue);
}
.blue-background {
  background-color: var(--blue);
}

.footer {
  height: 6rem;
  padding: 0 var(--base-padding);
}

.footer-links a {
  color: white;
  text-decoration: none;
  padding: 0 0.5rem;
}
.footer-links a:hover {
  font-weight: bold;
}

.illustration {
  width: 100%;
  height: auto;
}


